In [39]:
import pandas as pd

data = pd.read_csv("Data.csv")
#the CSV file is imported.

df = data.loc[:,['City','Product line','Date','Time','Rating']]
#the data in the file is displayed here we have removed unwanted data 

df.columns = ["City","Product","Date","Time","Rating"]
#Renamed the Columns in a way that we want

In [40]:
print("Number of Rows - ",df.shape[0])
print("Number of Columns -",df.shape[1])
#show the shape of the code

Number of Rows -  1000
Number of Columns - 5

In [41]:
print("First Column  - ",df.columns[0],"-",df.dtypes[0])
print("Second Column - ",df.columns[1],"-",df.dtypes[1])
print("Third Column  - ",df.columns[2],"-",df.dtypes[2])
print("Fourth Column - ",df.columns[3],"-",df.dtypes[3])
print("Fifth Column  - ",df.columns[4],"-",df.dtypes[4])
#Showing the Column names of the code and there data types

First Column  -  City - object
Second Column -  Product - object
Third Column  -  Date - object
Fourth Column -  Time - object
Fifth Column  -  Rating - float64

In [31]:
df.dropna()
#This function is used to drop any rows that has empty values

          City            Product line        Date   Time  Rating
0       Yangon       Health and beauty  01/05/2019  13:08     9.1
1    Naypyitaw  Electronic accessories  03/08/2019  10:29     9.6
2       Yangon      Home and lifestyle  03/03/2019  13:23     7.4
3       Yangon       Health and beauty   1/27/2019  20:33     8.4
4       Yangon       Sports and travel  02/08/2019  10:37     5.3
..         ...                     ...         ...    ...     ...
995  Naypyitaw       Health and beauty   1/29/2019  13:46     6.2
996   Mandalay      Home and lifestyle  03/02/2019  17:16     4.4
997     Yangon      Food and beverages  02/09/2019  13:22     7.7
998     Yangon      Home and lifestyle   2/22/2019  15:33     4.1
999     Yangon     Fashion accessories   2/18/2019  13:28     6.6

[1000 rows x 5 columns]

In [38]:
Products = df["Product"].value_counts()
Products

Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: Product, dtype: int64

In [ ]:
#df.to_csv("output.csv")
#Exporting data to a csv file for further usage